body {
    background-color: hsl(225, 100%, 94%);
    margin: 0px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    width: 1440px;
    height: 100vh;
    position: relative;
}

.background {
    width: 1440px;
    height: 100vh;
}

.component {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: auto;
    position: absolute;
    left: 570px;
    top: 50px;
}

.component-img {
    border-radius: 15px 15px 0px 0px;
    width: 400px;
}

.info-cont {
    margin: 0px 40px;
}

.plan-cont {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.price-cont img {
    width: 40px;
    margin: 0px 15px 0px 0px;
}

.plan-txt {
    display: flex;
    flex-direction: column;
}

.plan-txt p {
    margin: 0px;
}

h1 {
    font-weight: 900;
    font-size: 25px;
    margin-top: 25px;
}

p {
    font-weight: 500;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    line-height: 1.5;
}

button {
    border: 0px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    margin: 15px 0px;
    padding: 10px 0px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 7px;
    box-shadow: 0px 15px 10px hsl(225, 100%, 94%);
}

button:hover {
    background-color: hsl(224, 23%, 55%);
}

.change {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}

.change:hover {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.cancel {
    margin-bottom: 40px;
}

.cancel:hover {
    color: black;
}

.fw900 {
    font-weight: 900;
}

.fw700 {
    font-weight: 700;
}

.black {
    color: black;
}

.gray {
    color: gray;
}